{%- block instantiate_calo_muon_correlation_condition %}
  {%- set o1 = condition.objects[0] %}
  {%- set o2 = condition.objects[1] %}
{{ condition.vhdl_signal }}_i: entity work.calo_muon_correlation_condition
    generic map(
        {{ condition.deltaEta.enabled }}, {{ condition.deltaPhi.enabled }}, {{ condition.deltaR.enabled }}, {{ condition.mass.enabled }}, {{ condition.mass.type }}, {{ condition.twoBodyPt.enabled }},
        {{ o1.sliceLow }}, {{ o1.sliceHigh }}, {{ o1.operator }}, {{ o1.type|upper }}_TYPE,
        X"{{ o1.threshold|X04 }}",
        {{ o1.etaNrCuts }}, 
        X"{{ o1.etaW1UpperLimit|X04 }}", X"{{ o1.etaW1LowerLimit|X04 }}",
        X"{{ o1.etaW2UpperLimit|X04 }}", X"{{ o1.etaW2LowerLimit|X04 }}",
        X"{{ o1.etaW3UpperLimit|X04 }}", X"{{ o1.etaW3LowerLimit|X04 }}",
        X"{{ o1.etaW4UpperLimit|X04 }}", X"{{ o1.etaW4LowerLimit|X04 }}",
        X"{{ o1.etaW5UpperLimit|X04 }}", X"{{ o1.etaW5LowerLimit|X04 }}",
        {{ o1.phiFullRange }}, X"{{ o1.phiW1UpperLimit|X04 }}", X"{{ o1.phiW1LowerLimit|X04 }}",
        {{ o1.phiW2Ignore }}, X"{{ o1.phiW2UpperLimit|X04 }}", X"{{ o1.phiW2LowerLimit|X04 }}",
        X"{{ o1.isolationLUT|X01 }}",
        {{ o2.sliceLow }}, {{ o2.sliceHigh }}, {{ o2.operator }},
        X"{{ o2.threshold|X04 }}",
        {{ o2.etaNrCuts }}, 
        X"{{ o2.etaW1UpperLimit|X04 }}", X"{{ o2.etaW1LowerLimit|X04 }}",
        X"{{ o2.etaW2UpperLimit|X04 }}", X"{{ o2.etaW2LowerLimit|X04 }}",
        X"{{ o2.etaW3UpperLimit|X04 }}", X"{{ o2.etaW3LowerLimit|X04 }}",
        X"{{ o2.etaW4UpperLimit|X04 }}", X"{{ o2.etaW4LowerLimit|X04 }}",
        X"{{ o2.etaW5UpperLimit|X04 }}", X"{{ o2.etaW5LowerLimit|X04 }}",
        {{ o2.phiFullRange }}, X"{{ o2.phiW1UpperLimit|X04 }}", X"{{ o2.phiW1LowerLimit|X04 }}",
        {{ o2.phiW2Ignore }}, X"{{ o2.phiW2UpperLimit|X04 }}", X"{{ o2.phiW2LowerLimit|X04 }}",
        "{{ o2.charge }}", X"{{ o2.qualityLUT|X04 }}", X"{{ o2.isolationLUT|X01 }}",
        {{ o2.uptCutSel }}, X"{{ o2.uptUpperLimit|X04 }}", X"{{ o2.uptLowerLimit|X04 }}", X"{{ o2.impactParameterLUT|X01 }}",
        X"{{ condition.deltaEta.upper|X08 }}", X"{{ condition.deltaEta.lower|X08 }}",
        X"{{ condition.deltaPhi.upper|X08 }}", X"{{ condition.deltaPhi.lower|X08 }}",
        X"{{ condition.deltaR.upper|X16 }}", X"{{ condition.deltaR.lower|X16 }}",
        X"{{ condition.mass.upper|X16 }}", X"{{ condition.mass.lower|X16 }}",
        {{ o1.type|upper }}_PT_VECTOR_WIDTH, {{ o2.type|upper }}_PT_VECTOR_WIDTH, {{ o1.type|upper }}_{{ o2.type|upper }}_COSH_COS_PRECISION, {{ o1.type|upper }}_{{ o2.type|upper }}_COSH_COS_VECTOR_WIDTH,
        X"{{ condition.twoBodyPt.threshold|X16 }}", MUON_SIN_COS_VECTOR_WIDTH, {{ o1.type|upper }}_{{ o2.type|upper }}_SIN_COS_PRECISION
    )
    port map(lhc_clk, {{ o1.type|lower }}_bx_{{ o1.bx }}({{ o1.sliceLow }} to {{ o1.sliceHigh }}), {{ o2.type|lower }}_bx_{{ o2.bx }}({{ o2.sliceLow }} to {{ o2.sliceHigh }}),
        diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_eta_vector, diff_{{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_phi_vector,
        {{ o1.type|lower }}_pt_vector_bx_{{ o1.bx }}, {{ o2.type|lower }}_pt_vector_bx_{{ o2.bx }},
        {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cosh_deta_vector, {{ o1.type|lower }}_{{ o2.type|lower }}_bx_{{ o1.bx }}_bx_{{ o2.bx }}_cos_dphi_vector,
        conv_{{ o1.type|lower }}_cos_phi_bx_{{ o1.bx }}, {{ o2.type|lower }}_cos_phi_bx_{{ o2.bx }}, conv_{{ o1.type|lower }}_sin_phi_bx_{{ o1.bx }}, {{ o2.type|lower }}_sin_phi_bx_{{ o2.bx }},
        {{ condition.vhdl_signal }});
{%- endblock instantiate_calo_muon_correlation_condition %}
{# eof #}
